.component-form-search {
  padding-left: 5px;
  padding-right: 5px;
  .label-form-search {
    font-size: 12px;
  }
}
.div-btn-form-search{
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
}
