@import '../../scss/variables.scss';

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: right;
  .div-home-hd {
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    a{
        cursor: pointer;
        font-weight: 800;
        text-decoration: none;
        color: #000;
    }
  }
  .cart-div {
    display: inline-block;
    background: $color-white;
    padding: 20px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 6px 9px 0px rgb(181 181 181 / 75%);
    .icon-cart-hd {
      font-size: 20px;
    }
  }
}
