@import './variables.scss';
html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
/* Grids */
.container {
  max-width: 84rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.666%;
}

.col-10 {
  width: 83.333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.666%;
}

.col-7 {
  width: 58.333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.666%;
}

.col-4 {
  width: 33.333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.666%;
}

.col-1 {
  width: 8.333%;
}

/* Common */
.card-shadow {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 6px 9px 0px rgb(181 181 181 / 75%);
}

/* form */
.select-form {
  width: 100%;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-appearance: none;
}
.input-form{
  width: 90%;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-appearance: none;
}
.label-form {
  font-size: 17px;
  line-height: 33px;
}
.section-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.button-form {
  font-size: 16px;
  border: 0px;
  padding: 18px 60px;
  border-radius: 10px;
  background: $color-yellow;
  cursor: pointer;
  transition: '1s';
  color: #000;
  &:hover {
    background-color: $color-gray-light;
  }
}
.div-people {
  background: $color-white;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  position: relative;
}
.div-btn-form {
  text-align: left;
  margin-top: 20px;
  color: #000;
}
.div-form-people {
  position: absolute;
  left: 0;
  background: $color-white;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: $color-gray-light;
  width: 94%;
  top: 50px;
}
.btn-people-form {
  background: $color-yellow;
  padding: 7px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 0px;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}
.labe-people-form {
  background: $color-white;
  padding: 15px 50px;
  position: relative;
  top: 15px;
  font-size: 19px;
  font-weight: 800;
}
.close-div-form {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 10px;
  label {
    font-size: 11px;
  }
}

/* responsive */
@media only screen and (max-width: $width-md) {
  .md-col-12 {
    width: 100%;
  }
  .md-hide {
    display: none;
  }
  .div-form-people {
    width: 92%;
  }
}
@media only screen and (max-width: $width-sm) {
  .sm-col-12 {
    width: 100%;
  }
}
