@import '../../../scss/variables.scss';

.div-bgform {
  background: $color-blue-strong;
  height: 100vh;
}
.div-form {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}
.title-form {
  color: $color-white;
  line-height: 10px;
}
.subtitle-form {
  color: $color-gray-light;
}
.label-form-white {
  color: $color-white;
}

/* responsive */
@media only screen and (max-height: 550px) {
  .div-bgform {
    height: auto;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: $width-sm) {
  .div-form {
    width: 90%;
  }
  .title-form {
    line-height: initial;
  }
}
